src/main/resources/info.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://com.clabuyakchai.soap" elementFormDefault="qualified">

    <xs:element name="getInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info_project" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info_project" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
